@page "/memos/{memoId?}"
@using CogniCache.Domain.Enums
@using CogniCache.Domain.Models
@using CogniCache.Domain.Services
@using CogniCache.Shared.Components
@using CogniCache.Shared.Services

@inject INoteService _noteService
@inject INavigationService _navigationService
@inject IJSRuntime _js

<Heading id="heading" Size="HeadingSize.Is1" Margin="Margin.Is3.OnY">
    Memos
</Heading>

<Row>
    <Column ColumnSize="ColumnSize.Is12">
        <Div Style="display: flex; align-items: center; justify-content: space-between">
            <Div>
                @if (!string.IsNullOrEmpty(Tags))
                {
                    <Breadcrumb>
                        <BreadcrumbItem>
                            <BreadcrumbLink @onclick="OnMemosClicked" To="#">Memos</BreadcrumbLink>
                        </BreadcrumbItem>
                        <BreadcrumbItem>
                            @Tags
                        </BreadcrumbItem>
                    </Breadcrumb>
                }
            </Div>
            <Div>
                <Button Clicked="@ShowOffcanvas">Filter</Button>
            </Div>
        </Div>
    </Column>
</Row>

<Row Margin="Margin.Is3.OnY">
    <Column ColumnSize="ColumnSize.Is12" Margin="Margin.Is5.FromBottom">
        <Memo EditorMode="@EditorMode.Compose" OnUpdate="HandleUpdate" />

        @foreach (var memo in _memoModels)
        {
            <Div Margin="Margin.Is5.FromTop">
                <Memo Model="memo" EditorMode="@EditorMode.Preview" OnUpdate="HandleUpdate" />
            </Div>
        }
    </Column>
</Row>

<Offcanvas @ref="offcanvasRef" ShowBackdrop Placement="Placement.End" Style="width: 380px;">
    <OffcanvasHeader>
        <Heading Size="HeadingSize.Is3">Filters</Heading>
        <CloseButton Clicked="@HideOffcanvas" />
    </OffcanvasHeader>
    <OffcanvasBody>
        <Field>
            <FieldLabel>Date range</FieldLabel>
            <DatePicker TValue="DateTime?" @bind-Dates="filteredDates" InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Range"/>
        </Field>
    </OffcanvasBody>
    <OffcanvasFooter>
        <Button Color="Color.Primary" Clicked="@ApplyFilters">Apply Filters</Button>
    </OffcanvasFooter>
</Offcanvas>

@code {
    [Parameter]
    public string? MemoId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "tags")]
    public string? Tags { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "dateBegin")]
    public DateTime? DateBegin { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "dateEnd")]
    public DateTime? DateEnd { get; set; }

    public IReadOnlyList<DateTime?> filteredDates = [];
    private Offcanvas offcanvasRef;

    private void HandleUpdate(MemoModel model)
    {
        //Change to HandleCommand (Save, Delete, Pin etc)
        _noteService.SaveNote(model);
        _memoModels = _noteService.GetManyPaginated(DateBegin!.Value, DateEnd!.Value, 0, int.MaxValue, "", Tags).ToList();
        StateHasChanged();
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     await LoadNotes();
    // }

    protected override async Task OnParametersSetAsync()
    {
        DateBegin ??= DateTime.Now.Date;
        DateEnd ??= DateTime.Now;
        filteredDates = [DateBegin, DateEnd];
        await LoadNotes();
    }

    private List<MemoModel> _memoModels = [];

    private async Task LoadNotes()
    {
        if (string.IsNullOrEmpty(MemoId))
        {
            _memoModels = _noteService.GetManyPaginated(DateBegin!.Value, DateEnd!.Value, 0, int.MaxValue, "", Tags).ToList();
        }
        else if (int.TryParse(MemoId, out int memoIdValue))
        {
            var memo = _noteService.GetById(memoIdValue);
            if (memo == null)
            {
                NavigateToMemos();
                return;
            }

            _memoModels = [memo];
        }
        else
        {
            NavigateToMemos();
        }
    }

    private void OnMemosClicked()
    {
        _navigationService.NavigateToMemos();
    }

    private void NavigateToMemos()
    {
        _navigationService.NavigateToMemos();
    }

    private Task ShowOffcanvas()
    {
        return offcanvasRef.Show();
    }

    private Task HideOffcanvas()
    {
        return offcanvasRef.Hide();
    }

    private Task ApplyFilters()
    {
        _navigationService.NavigateToMemos(new Filter
        {
            DateBegin = filteredDates.FirstOrDefault(),
            DateEnd = filteredDates.LastOrDefault()
        });
        return offcanvasRef.Hide();
    }
}
