@page "/notes"
@page "/notes/{noteId:int}/{slug}"
@using CogniCache.Domain.Enums
@using CogniCache.Domain.Repositories.SearchRepository
@using CogniCache.Domain.Models
@using CogniCache.Domain.Services
@using CogniCache.Shared.Components
@using CogniCache.Shared.Services

@inject INoteService _noteService
@inject INavigationService NavigationService

<Heading Size="HeadingSize.Is1" Margin="Margin.Is3.OnY">
    Notes
</Heading>

<Row>
    <Column ColumnSize="ColumnSize.Is12" Margin="Margin.Is5.FromBottom">
        @if (!string.IsNullOrEmpty(Tag))
        {
            <Breadcrumb>
                <BreadcrumbItem>
                    <BreadcrumbLink To="/notes">Notes</BreadcrumbLink>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    @Tag
                </BreadcrumbItem>
            </Breadcrumb>
        }
    </Column>
</Row>

<Row>
    <Column ColumnSize="ColumnSize.Is3" Margin="Margin.Is5.FromBottom">
        <Div Flex="Flex.JustifyContent.Between">
            <Div Margin="Margin.Is2.FromEnd" Style="width: 100%;">
                <Search OnSearchSnippetsReceived="HandleSearchSnippets" />
            </Div>
            <Div>
                <Button Clicked="@OnAddClicked" Color="Color.Success">
                    <Icon Name="IconName.Add" />
                </Button>
            </Div>
        </Div>
    </Column>
    <Column ColumnSize="ColumnSize.Is9">
        @if (FilteredNotes.Count > 0) {
            <Buttons Role="ButtonsRole.Toolbar">
                <Buttons Margin="Margin.Is2.FromEnd">
                    <Button Clicked="@OnEditClicked" Color="Color.Secondary" Active="@(EditorMode == EditorMode.Write)">
                        <Icon Name="IconName.Edit" />
                    </Button>
                    <Button Clicked="@OnStarClicked" Color="Color.Secondary" Active="@FilteredNotes[NoteId].IsStarred">
                        <Icon Name="IconName.Star" />
                    </Button>
                </Buttons>
                <Buttons>
                    <Button Color="Color.Secondary">
                        <Icon Name="IconName.Tag" />
                    </Button>
                    <Button Color="Color.Secondary">
                        <Icon Name="IconName.File" />
                    </Button>
                </Buttons>
                <Buttons Margin="Margin.Is2.OnX">
                    <Button Clicked="@OnDeleteClicked" Color="Color.Danger">
                        <Icon Name="IconName.Delete" />
                    </Button>
                </Buttons>
            </Buttons>
        }
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.Is3">
        @if (!HasNotes)
        {
            <Alert Color="Color.Primary" Visible>
                <AlertDescription>
                    You have no notes. Create a note to get started.
                </AlertDescription>
            </Alert>
        } else if (!FilteredNotes.Any()) {
            <Alert Color="Color.Primary" Visible>
                <AlertDescription>
                    No notes found.
                </AlertDescription>
            </Alert>
        }
        else
        {
            <NotesListGroup Notes="FilteredNotes" InitialSelectedNoteId="NoteId" OnSelectedNoteChanged="HandleSelectedNoteChanged"></NotesListGroup>
        }
    </Column>
    <Column ColumnSize="ColumnSize.Is6">
        @if (FilteredNotes.Count > 0) {
            @if (EditorMode == EditorMode.Preview)
            {
                @((MarkupString)FilteredNotes[NoteId].Html)
            }
            else
            {
                <Markdown Value="@FilteredNotes[NoteId].Content" ValueChanged="@OnMarkdownValueChanged" />
            }
        }
    </Column>
    <Column ColumnSize="ColumnSize.Is3">
        @if (FilteredNotes.Any()) {
            <Card>
                <CardBody>
                    <CardTitle Size="4">
                        Info
                    </CardTitle>
                    <CardText>
                        <Paragraph><strong>Permalink:</strong> {{note:@FilteredNotes[NoteId].Id}}</Paragraph>
                        <Paragraph><strong>Created:</strong> @FilteredNotes[NoteId].CreatedDate</Paragraph>
                        <Paragraph><strong>Last Updated:</strong> @FilteredNotes[NoteId].LastUpdatedDate</Paragraph>
                    </CardText>
                </CardBody>
            </Card>

            <Card Margin="Margin.Is5.FromTop">
                <CardBody>
                    <CardTitle Size="4">
                        Tags
                    </CardTitle>
                    <CardText>
                        @if (FilteredNotes[NoteId].Tags.Any())
                        {
                            @foreach (var tag in FilteredNotes[NoteId].Tags)
                            {
                                <Badge @onclick="() => OnTagClicked(tag)" Link="#" Color="Color.Primary">@tag</Badge>
                            }
                        }
                        else
                        {
                            <Badge @onclick="() => OnTagClicked(null)" Link="#" Color="Color.Primary">Untagged</Badge>
                        }
                    </CardText>
                </CardBody>
            </Card>
        }
    </Column>
</Row>

@code {
    [Parameter]
    public int NoteId { get; set; }

    [Parameter]
    public string? Slug { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "tag")]
    public string? Tag { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "sortBy")]
    public string? SortBy { get; set; }

    private bool HasNotes = false;
    private Dictionary<int, MemoModel> FilteredNotes = new();

    private EditorMode EditorMode = EditorMode.Preview;

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet() {
        AutoSaveNotes();
        RefreshNotes(NoteId);
        base.OnParametersSet();
    }

    private CancellationTokenSource _autoSave = new();

    private void RefreshNotes(int selectedNoteId)
    {
        HasNotes = _noteService.HasNotes();
        FilteredNotes = _noteService.GetManyPaginated(DateTime.MinValue, DateTime.Now, 0, int.MaxValue, SortBy, Tag)
            .ToDictionary(n => n.Id, n => n);

        if (!FilteredNotes.Any())
            return;

        if (selectedNoteId == 0)
        {
            FilteredNotes.First().Value.IsSelected = true;
        } else
        {
            var selectedNote = FilteredNotes.SingleOrDefault(note => note.Value.Id == selectedNoteId);
            FilteredNotes[NoteId].IsSelected = true;
        }
    }

    private async Task OnMarkdownValueChanged(string value)
    {
        FilteredNotes[NoteId].IsDirty = value != FilteredNotes[NoteId].Content;
        FilteredNotes[NoteId].Content = value;
        FilteredNotes[NoteId].Html = Markdig.Markdown.ToHtml(FilteredNotes[NoteId].Content ?? string.Empty);

        if (EditorMode == EditorMode.Write) {
            await _autoSave.CancelAsync();
            _autoSave = new CancellationTokenSource();

            try
            {
                await Task.Delay(500, _autoSave.Token).ContinueWith(OnAutoSaveNotes, _autoSave.Token);
            }
            catch (OperationCanceledException)
            {
                //do nothing
            }
        }
    }

    private void HandleSearchSnippets(IEnumerable<SearchSnippet>? snippets)
    {
        if (snippets == null) {
            RefreshNotes(0);
        } else {
            AutoSaveNotes();
            FilteredNotes = _noteService.GetManyPaginated(DateTime.MinValue, DateTime.Now, 0, int.MaxValue, SortBy, Tag)
                .Where(note => snippets.Select(snippet => snippet.NoteId).Contains(note.Id))
                .ToDictionary(n => n.Id, n => n);

            if (FilteredNotes.Any())
            {
                FilteredNotes[0].IsSelected = true;
            }
        }
    }

    private void HandleSelectedNoteChanged(string selectedNoteId)
    {
        NoteId = Convert.ToInt32(selectedNoteId);
    }

    private Task OnEditClicked()
    {
        if (EditorMode == EditorMode.Preview) {
            EditorMode = EditorMode.Write;
        } else
        {
            EditorMode = EditorMode.Preview;
        }

        return Task.CompletedTask;
    }

    private Task OnStarClicked()
    {
        var isStarred = FilteredNotes[NoteId].IsStarred;
        FilteredNotes[NoteId].IsStarred = !isStarred;
        var noteId = _noteService.SaveNote(FilteredNotes[NoteId]);

        FilteredNotes[NoteId].Id = noteId;

        return Task.CompletedTask;
    }

    private Task OnDeleteClicked()
    {
        var deleteNoteId = FilteredNotes[NoteId].Id;
        _noteService.DeleteNote(deleteNoteId);

        NoteId = FilteredNotes.Keys.Where(id => id != deleteNoteId).FirstOrDefault();
        RefreshNotes(NoteId);

        EditorMode = EditorMode.Preview;

        return Task.CompletedTask;
    }

    private Task OnAddClicked()
    {
        var newNote = new MemoModel
        {
            Title = "",
            Snippet = "",
            Content = "# Untitled",
            Html = "",
            Tags = string.IsNullOrEmpty(Tag) ? ["Untagged"] : [Tag],
            IsStarred = false,
            CreatedDate = DateTime.UtcNow,
            LastUpdatedDate = DateTime.UtcNow
        };

        var id = _noteService.SaveNote(newNote);
        RefreshNotes(id);
        NoteId = id;

        EditorMode = EditorMode.Write;

        return Task.CompletedTask;
    }

    private void AutoSaveNotes()
    {
        var autoSave = false;
        foreach (var note in FilteredNotes.Where(n => n.Value.IsDirty))
        {
            if (note.Value.Content.Trim().Length == 0)
                continue;

            _noteService.SaveNote(note.Value);

            note.Value.IsDirty = false;
            autoSave = true;
        }

        if (autoSave)
            InvokeAsync(StateHasChanged);

        _autoSave.Cancel();
        _autoSave = new CancellationTokenSource();
    }

    private void OnAutoSaveNotes(Task task)
    {
        AutoSaveNotes();
    }

    private void OnTagClicked(string? tag)
    {
        NavigationService.NavigateToTag(!string.IsNullOrEmpty(tag) ? tag : "Untagged");
    }
}
